<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task Manager</title>
</head>
<body>

<h1>Task Manager</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Estado</th>
        <th>Prioridad</th>
    </tr>

    <tr th:each="task : ${tasks}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.title}"></td>
        <td th:text="${task.status}"></td>
        <td th:text="${task.priority}"></td>
    </tr>

</table>

</body>
</html>